{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block title %}Accueil{% endblock %}
{% endblock %}


{% block body %}
    {{ parent() }}
<h1>Liste des sociétés</h1>

{% for societe in societes %}
    <div style="border:1px solid;padding:5px;">
        {{ societe.nomSociete }}<br />
        <a href="{{ path('afficherContact', {'id': societe.id}) }}">Voir les contacts</a><br />
        <a href="{{ path('afficherProjet', {'id': societe.id}) }}">Voir les projets</a><br />
    </div>

{% endfor %}

{% endblock %}



