{% extends 'base.html.twig' %}

{% block title %}{{ societe.nomSociete }}{% endblock %}





{% block body %}

<h1>société : {{ societe.nomSociete }}<br /></h1>
    Siret : {{ societe.siretSociete }}<br />
        {% for projet in societe.projets %}
            <div style="border:1px solid;padding:5px;">
                Nom du projet : {{ projet.nomProjet }}<br />

                Information :
                <div style="padding-left:60px;">
                {% for information in projet.informations %}
                    - {{ information.information }}<br />
                {% endfor %}
                </div>
                {% if temps is defined %}
                    Temps : {{ projet.temps.temps }}
                {% endif %}
                {% if fichier is defined %}
                    Fichier : {{ projet.fichier.fichier }}
               {% endif %}

            </div>
        {% endfor %}

{% endblock %}



