{% extends 'base.html.twig' %}

{% block title %}{{ societe.nomSociete }}{% endblock %}





{% block body %}

<h1>société : {{ societe.nomSociete }}<br /></h1>
    Siret : {{ societe.siretSociete }}<br />
        {% for projet in societe.projets %}
            <div style="border:1px solid;padding:5px;">
                Nom du projet : {{ projet.nomProjet }}<br />
                {% if informations is defined %}
                {% for information in projet.informations %}
                    Information : {{ information.information }}
                {% endfor %}
                {% endif %}
                {% if temps is defined %}
                    Temps : {{ projet.temps.temps }}
                {% endif %}
                {% if fichier is defined %}
                    Fichier : {{ projet.fichier.nomFichier }}
                {% endif %}

            </div>
        {% endfor %}
{% endblock %}



