{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block title %}{{ societe.nomSociete }}{% endblock %}
{% endblock %}




{% block body %}
    {{ parent() }}
<h1>société : {{ societe.nomSociete }}<br /></h1>
    Siret : {{ societe.siretSociete }}<br />
        {% for contact in contacts %}
            <div style="border:1px solid;padding:5px;">
                Nom : {{ contact.nomContact }}<br />
                Prénom : {{ contact.prenomContact }}<br />
                Email : {{ contact.email }}<br />
                Adresse : {{ contact.adresse }}<br />
                {#{% for ville in villes %}#}
                    {#Code Postal : {{ ville.cp }}<br />#}
                    {#Ville : {{ ville.ville }}<br />#}
                {#{% endfor %}#}
            </div>
        {% endfor %}
{% endblock %}



